##################################################################################
# VARIABLES
##################################################################################

# Credentials

vsphere_server   = "sfo-m01-vc01.sfo.rainpole.io"
vsphere_username = "administrator@vsphere.local"
vsphere_password = "**********"
vsphere_insecure = false

# vSphere Settings

vsphere_datacenter = "sfo-m01-dc01"

# Folders

vsphere_folders = {
  folder0 = {
    path = "xint-m01-fd-vra"
    type = "vm"
  }
}