##################################################################################
# VARIABLES
##################################################################################

# Credentials

vsphere_server                      = "sfo-w01-vc01.sfo.rainpole.io"
vsphere_username                    = "administrator@vsphere.local"
vsphere_password                    = "********************"
vsphere_insecure                    = false

# vSphere Settings

vsphere_datacenter                  = "sfo-w01-DC"
vsphere_datastore                   = "sfo-w01-sfo-w01-vc01-sfo-w01-cl01-vsan01"

# Content Library Settings

vsphere_content_library_name        = "sfo-vmc-lib01"
vsphere_content_library_description = "Publishing Content Library for VMC"
vsphere_content_library_auth        = "NONE"
