##################################################################################
# VARIABLES
##################################################################################

vra_url       = "https://api.mgmt.cloud.vmware.com"
vra_api_token = "*****************"
vra_insecure  = false

cloud_zone_name        = "sfo-w01-vc01"
workload_target_folder = "sfo-w01-fd-workload"
fabric_compute_name    = "sfo-w01-cl01 / sfo-w01-cl01-rp-workload"
tag_zone               = "sfo-w01"