##################################################################################
# VARIABLES
##################################################################################

# vSphere Credentials

vsphere_server   = "sfo-m01-vc01.sfo.rainpole.io"
vsphere_username = "administrator@vsphere.local"
vsphere_password = "********************"

# vSphere Objects

vsphere_datacenter = "sfo-w01-dc01"
vrops_cloud_folder = "sfo-m01-fd-cbo"