##################################################################################
# VARIABLES
##################################################################################

# vSphere Credentials

vsphere_server   = "sfo-m01-vc01.sfo.rainpole.io"
vsphere_username = "administrator@vsphere.local"
vsphere_password = "********************"

# vSphere Permissions

role_name           = "No access"
ca_service_account  = "SFO\\svc-ca-vsphere"
vro_service_account = "SFO\\svc-vro-vsphere"
