##################################################################################
# VARIABLES
##################################################################################

# VMware Cloud Services

csp_api_token = "*********************"
cep_server    = "sfo-vmc-cep01.sfo.rainpole.io"

# VMware Cloud Foundation 

vcf_server   = "sfo-vcf01.sfo.rainpole.io"
vcf_username = "administrator@vsphere.local"
vcf_password = "*********************"
vcf_domain   = "sfo-w01"

# vSphere Permissions

vro_service_account  = "svc-vro-vsphere"
vro_service_password = "*********************"
