##################################################################################
# VARIABLES
##################################################################################

# vSphere Credentials

vsphere_server   = "sfo-w01-vc01.sfo.rainpole.io"
vsphere_username = "administrator@vsphere.local"
vsphere_password = "********************"

# vSphere Objects

vsphere_datacenter = "sfo-w01-DC"
vrops_cloud_folder = "sfo-w01-fd-vrops-cloud"