##################################################################################
# VARIABLES
##################################################################################

# Credentials

vsphere_server   = "sfo-w01-vc01.sfo.rainpole.io"
vsphere_username = "administrator@vsphere.local"
vsphere_password = "********************"
vsphere_insecure = false

# vSphere Objects

vsphere_datacenter = "sfo-w01-DC"

edge_folder = "sfo-w01-fd-edge"
local_storage_folder = "sfo-w01-fd-storage-local"
readonly_storage_folder = "sfo-w01-fd-storage-readonly"

role_name = "No access"

ca_service_account = "SFO\\svc-ca-vsphere"
vro_service_account = "SFO\\svc-vro-vsphere"
