##################################################################################
# ENDPOINT
##################################################################################

vra_url       = "https://api.mgmt.cloud.vmware.com"
vra_api_token     = "********************"
vra_insecure      = false

##################################################################################
# CLOUD ACCOUNTS and CLOUD ZONES
##################################################################################

cloud_accounts_vsphere = {
	account0 = {
	  name          = "sfo-w01-vc01"
    hostname      = "sfo-w01-vc01.sfo.rainpole.io"
    username      = "svc-vmc-vsphere@sfo.rainpole.io"
    password      = "********************"
    region        = "Datacenter:datacenter-3"
    description   = "San Francisco - Workload Domain 01"
    tag_cloud     = "private"
    tag_region    = "sfo"
    association   = [
      "sfo-w01-nsx01",
    ]
  }
}

cloud_accounts_nsx = {
  account0 = {
    name          = "sfo-w01-nsx01"
    hostname      = "sfo-w01-nsx01.sfo.rainpole.io"
    username      = "svc-vmc-nsx@sfo.rainpole.io"
    password      = "*******************"
    description   = "San Francisco - Workload Domain 01"
    tag_cloud     = "private"
  }
}

accept_self_signed = true
cloud_proxy = "sfo-vmc-cdp01"