##################################################################################
# VARIABLES
##################################################################################

# vSphere Settings

vsphere_server                  = "sfo-m01-vc01.sfo.rainpole.io"
vsphere_username                = "administrator@vsphere.local"
vsphere_password                = "********************"
vsphere_insecure                = false
vsphere_host                    = "sfo01-m01-esx01.sfo.rainpole.io"
vsphere_datacenter              = "sfo-m01-dc01"
vsphere_folder                  = "sfo-m01-fd-vmc"
vsphere_cluster                 = "sfo-m01-cl01"
vsphere_datastore               = "sfo-m01-cl01-ds-vsan01"
vsphere_network                 = "sfo01-m01-cl01-vds01-pg-mgmt"

# vRealize Orchestrator Settings

vro_ovf_local                   = "F:/O11N_VA-8.8.1.22625-19888520_OVF10.ova"
vro_root_password               = "********************"
vro_fips_mode                   = "disabled"
vro_ntp_servers                 = "ntp.sfo.rainpole.io"
vro_name                        = "sfo-vmc-vro01"
vro_ip_address                  = "172.18.95.79"
vro_netmask                     = "255.255.255.0"
vro_gateway                     = "172.18.95.1"
vro_domain                      = "sfo.rainpole.io"
vro_dns_search                  = "sfo.rainpole.io"
vro_dns_servers                 = "172.18.95.4,172.18.95.5"
vro_disk_provisioning           = "thin"
vro_k8s_cluster_cidr            = "10.244.0.0/22"
vro_k8s_service_cidr            = "10.244.4.0/22"
