##################################################################################
# VARIABLES
##################################################################################

csp_api_token = "*********************"
cep_server    = "sfo-vmc-cep01.sfo.rainpole.io"